<h3>All Shelters</h3>
  <ul>
    <%@shelters.each do |shelter|  %>
      <li><%= shelter.name  %></li>
    <% end  %>
  </ul>
<br>

<h3>Pending Shelters</h3>
<section id="pending">
  <ul>
    <%@shelters.each do |shelter|  %>
      <li><%= shelter.name  %></li>
    <% end  %>
  </ul>
</section>
